:root {
  --violet: hsl(263, 55%, 52%);
  --gray: hsl(217, 19%, 35%);
  --dark-gray: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --text-color: hsl(0, 0%, 61%);
  --bg-main-color: hsl(210, 46%, 95%);
}
