@use '../utilities/' as *;
/*
  // Centering Block

  // max-width: 1000px;

  // margin: 0 auto;
  margin-inline: auto;

  // padding-left: 20px;
  // padding-right: 20px;
  width: min(100% - u.rem(40), u.rem(1000));
  */

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 rem(20);
}

.container {
  max-width: rem(550);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: rem(23);
  margin: rem(50) 0;

  @include breakpoint-up(medium) {
    max-width: rem(800);
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: rem(28);
    margin: rem(40) auto;
    max-width: rem(1112);
    min-height: rem(576);
  }
}
